<% layout("layouts/boilerplate") %>

<div class="row mt-5">
  <div class="alert alert-danger col-6 offset-3" role="alert">

    <h4 class="alert-heading">
      Error <%= err && err.statusCode ? err.statusCode : 500 %>
    </h4>

    <p><%= err && err.message ? err.message : "Something went wrong!" %></p>

  </div>
</div>

